body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1400px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Border Input */

.MuiOutlinedInput-notchedOutline {
  border-color: #424242 !important;
}

.MuiOutlinedInput-root .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #424242 !important;
}

/* Modal */
.MuiDialog-paperWidthSm {
  width: 100%;
  max-width: 800px !important;
  overflow-x: hidden;
  border-radius: 0;
}

@media (min-width: 608px) {
  .MuiDialog-paperWidthSm {
    overflow-y: hidden !important;
  }
}